.content, .chs-panel {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content;
}

a.issue-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(241, 139, 33);
}
ul { 
  list-style-type: none;
}

.filter {
  margin: 3px;
  padding: 4px 4px;
  border-radius: 3px;
}

.issue {
  margin-bottom: 20px;
}

.issue-age {
  border-bottom-style: solid;
  border-bottom-color: rgb(243, 246, 248);
}

.label:first-child{
  margin-left: 0;
}

.label {
  display: inline-block;
  font-weight: bold;
  font-size: 0.75em;
  margin: 5px;
  padding: 4px 8px;
  border-radius: 3px;
}

.updated {
  font-size: 0.75em;
  color: rgba(140, 139, 139, 0.77);
}

.filter:first-child {
  margin-left: 0;
}